@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

#partesuperior {
  background-color: rgb(127, 160, 71);
  overflow: hidden; 
  height: auto;
  width: 100%;
}

.tituloepigrafe {
font-size: 30px;
text-align: center;
font-family: 'Mukta', sans-serif;
padding: 25px 35px 25px 35px;
}

.imgytxt {
display: flex;
float: left;
align-items: center;
justify-content: center;
padding: 20px;
height: 100%;
width: 100%;
}

img {
width: 50%;
height: 50%;
}

.escriturapres {
padding: 25px 35px 25px 15px;

}
